.label {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
}

.input-field {
    -fx-pref-width: 220px;
    -fx-pref-height: 30px;
    -fx-background-color: #f1f1f1;
    -fx-padding: 5px;
}

.checkbox {
    -fx-text-fill: #555;
}

.login-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.cancel-button {
    -fx-background-color: #F44336;
    -fx-text-fill: white;
}

.link-label {
    -fx-text-fill: #1E90FF;
    -fx-underline: true;
    -fx-cursor: hand;
}
